<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PaymentDao">
	<!-- 결제정보 등록 -->
	<insert id="insertPay">
		insert into payment(imp_uid, merchant_uid, paid_amount, pay_method, apply_num, paid_time, status, rsv_no, user_id)
			values(#{imp_uid}, #{merchant_uid}, #{paid_amount}, #{pay_method}, #{apply_num},
					sysdate, #{status}, #{rsv_no}, #{user_id})
	</insert>
</mapper>